<h1>{{appTitle}} 🚀</h1>

<input
      id="autocomplete"
      type="text"
      placeholder="Search a place"
    />
<div>
    <h1 id="res-name"></h1>
    <p id="res-address"></p>
    <a href="" id="res-maps-url" target="_blank"></a>
    <a href="" id="res-website" target="_blank"></a>
    <p id="res-rating"></p>
    <p id="res-price-level"></p>
    <p id="res-status"></p>
    <div >
        <ul id="res-opening-hours">
            
        </ul>
    </div>
{{!--     <img src="" alt="" id='res-photo'> --}}
    <a href="" id="res-photo" target="_blank"></a>
    <form action="/{{_id}}/wishlist" method='post' id="wishlist-add"></form>
    <form action="" id="favorites-add"></form>
</div>