<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/auth/signup">Sign up</a>
      <a href="/auth/login">Login</a>
      <form action="/auth/logout" method="get">
        <button type="submit">logout</button>
      </form>
    </nav>

    {{{body}}}

  <script src="/js/script.js"></script>
  <script
      src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&libraries=places&callback=initAutocomplete"
      defer
    ></script>

  </body>

</html>