/* colors:
Cod Gray #1D1C1B
Twine #BFA05F
Rolling Stone #767A81
Oslo Gray #abafb2 */


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.photos{

  width: 250px;

}

.bigPhoto{
  width: 700px;
}

.signup{
  margin-right: 10px;
  text-decoration: none;
}

.login{
  margin-right: 10px;
  text-decoration: none;
}